**/**/__pycache__
**/**/.vscode
**/**/.DS_Store

venv
data
!baselines/STYLE/style/data/
!baselines/STYLE/style/data/**
node_modules

*.json
CHA.egg-info/
build
dist
models
!baselines/STYLE/style/models/
!baselines/STYLE/style/models/**
*.wav
wav2vec2_checkpoints
pretrained_models
openCHA.egg-info
